# 구성 시스템을 사용하여 lombok에 원하지 않는 일부 롬복 기능의 사용을 경고 또는 오류로 표시하도록 할 수있다.

config.stopBubbling = true  # 특수 키 환결설정을 한다는것을 알려주는것 같음
lombok.data.flagUsage=error   # @data  error 
lombok.value.flagUsage=error  # @Value error
lombok.val.flagUsage=error   # Val  error
lombok.var.flagUsage=error  
lombok.nonNull.flagUsage=error  # @NonNull error  
lombok.allArgsConstructor.flagUsage=error
lombok.requiredArgsConstructor.flagUsage=error
lombok.cleanup.flagUsage=error
lombok.sneakyThrows.flagUsage=error
lombok.synchronized.flagUsage=error
# experimental 전체 금지
lombok.experimental.flagUsage=error

